*{
    margin: 0;
    padding: 10px;
    font-size: 24px;    
}

body{
    background: linear-gradient( 145deg, #89cefc, #c2e0fc, #ebf2fc);
    height: 100vh;
}

.weather{
    position: relative;
    text-align: center;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    width: 400px;
    top: 200px;
}
button{
    margin-top: 20px;
    width: 80%;
    background-color: #89cefc;
    color: #fff;
}